%h1 Chats

.d-flex.gap-1
  %aside
    = render "chats/list", chats: @chats

    %h2 New chat

    = form_with model: @chat do |f|
      = f.text_field :name, placeholder: "Chat name", autofocus: true, required: true, minlength: 3, maxlength: 20

      = f.submit "Create chat"

  %main
    = turbo_frame_tag "active_chat_messages" do
      = render "chats/messages", chat: @chat
